:root {
  --primary-yellow: #f9be08;
  --secondary-yellow: #ffce00;
  --white: #ffffff;
  --off-white: #f9f8f4;
  --light-gray: #dfdfd9;
  --dark-black: #1a1a19;
  --dark-sky: #088178;
  --dark-gray: #555;
}


